* {
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 0;
}
@font-face {
    font-family: 'Azbuka04';
    src: url('../Azbuka04.ttf');
}
@font-face {
    font-family: 'Zhizn';
    src: url('../Zhizn.otf');
}
body {
    font-family: 'Azbuka04';
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    font-size: 14px;
}
.header img{
   width: 100%;
}
.menu{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 50px;
}
.menu a {
    color: black;
    margin: 50px;
}
.text{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 26px;
    margin: 0 auto;
    margin-top: 27%;
}
.about {
    background: url(../images/about_bg.png);
    background-size: 15%;
}

.gallery {
    display: inline-block;
    background: #e6e7e9;
}
.blocks {
     width: 60%;
     margin: 10px 20%;
}
.blocks img {
    width: 100%;
    margin: 15px;
}
.blocks .col-md-6 {
    margin: -10px;
}
.illustrator {
    display: inline-block;
}
#atext{
    display: inline-block;
    font-family: 'Zhizn';
    font-size: 17px;
    margin-top: 12%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}


div#slider {
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0; 
}
div#slider figure img {
  width: 100%;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}

 

#inter img {
  width: 100%;
  position: absolute;
  display: inline-block;  
  transition: all 1s;
  opacity: 0;
  animation-name: example;
  animation-duration: .2s;
  animation-direction: normal; 
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.interbg img {
  width: 100%;
  position: relative;
  z-index: 4;
}

#inter img:nth-child(1) {
    z-index: 5;
    animation-delay: 0s;
}
#inter img:nth-child(2) {
    z-index: 6;
    animation-delay: .15s;
}
#inter img:nth-child(3) {
    z-index: 7;
    animation-delay: .3s;
}
#inter img:nth-child(4) {
    z-index: 8;
    animation-delay: .45s;
}
#inter img:nth-child(5) {
    z-index: 9;
    animation-delay: .6s;
}
#inter img:nth-child(6) {
    z-index: 10;
    animation-delay: .75s;
}
#inter img:nth-child(7) {
    z-index: 11;
    animation-delay: .9s;
}
#inter img:nth-child(8) {
    z-index: 12;
    animation-delay: 1.15s;
}
@keyframes example {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;    
  }
}
#lust {
    position: absolute;
}
#lust {
    position: absolute;
    
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 
25% { -moz-transform: rotate(1.5deg); }
50% { -moz-transform: rotate(3deg); }
75% { -moz-transform: rotate(1.5deg); }
100% { -moz-transform: rotate(0deg); }
 }
@-webkit-keyframes spin { 
25% { -webkit-transform: rotate(1.5deg); }
50% { -webkit-transform: rotate(3deg); }
75% { -webkit-transform: rotate(1.5deg); }
100% { -webkit-transform: rotate(0deg); }
 }
@keyframes spin { 
25% { -webkit-transform: rotate(3deg); transform:rotate(1.5deg); } 
50% { -webkit-transform: rotate(3deg); transform:rotate(3deg); } 
70% { -webkit-transform: rotate(3deg); transform:rotate(1.5deg); } 
100% { -webkit-transform: rotate(3deg); transform:rotate(0deg); } 
}

@media only screen and (max-width: 850px) {
    .modal-content {
        width: 100%;
    }
    #atext{
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    .blocks {
        width: 65%;
        margin: 10px 17.5%;
    }
    .blocks img {
        margin: 15px 0 15px 0;
    }
    .header {
        height: 100vh;
        background: #ebecec;
    }
    .text {
        margin-top: 80%;
    }
    .menu {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 15px;
      margin: 0 auto;
      margin-top: 20px;
   }
   .header img {
       margin-top: 40px;
   }
   .menu a {
      margin: 25px;
   }
    .about img {
       margin: 10% auto;
       margin: 40px auto;
       margin-left: 20%;
     }

}